#4{
    justify-content: center;
    text-align: center;
    width: 80%;
    margin:auto;
    padding: 3rem;
    
}
#3{
    justify-content: center;
    text-align: center;
    width: 80%;
    margin:auto;
    padding: 3rem;
}
.about-us-container{
    color: black;
}
