.main{
    /* display: flex; */
    margin-top: 40px;
    padding: 10px;
    font-size: large;
    text-align: justify;
}
.home-container {
    /* @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); */
    background-image: url('/src/assest/new3.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
    height: 100vh; /* Adjust as needed */
  }

  

#1{
justify-content: center;
}
#btn{
    text-decoration: none;
    color: white;
    
}
#2{

}

#3one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#4{
    justify-content: center;
    text-align: center;
    width: 80%;
    margin:auto;
    padding: 3rem;
    /* background: linear-gradient(to right, #00ffff 0%, #ccffff 100%) */
    
}