.main{
    display: flex;
    margin: 10px;
    padding: 10px;
    font-size: large;
    text-align: justify;
}
#1{
justify-content: center;
}
#btn{
    text-decoration: none;
    color: white;
    
}
#2{

}

#3one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#4{
    justify-content: center;
    text-align: center;
    width: 80%;
    margin:auto;
    padding: 3rem;
    
}